/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
body, html{
  height: 100%;
}

body{
  background-color: blue;
}

.cover-container {
  max-width: 70em;
}

